
.app {
	margin-top: 35px;
	text-align: center;
}

 .links {
	 float: right;
	 }
	 .links a {
	 margin-left: 15px;
	 }
	 .btn {
	 font-size: 2em;
	 }
	 button {
	 min-width: 160px;
	 }
	 .slider {
	 width: 80%;
	 margin-bottom: 30px;
	 }
	 #cash {
	 color: green;
	 }

.card-header h1 {
	display: inline;
}
	 
	 
.logo {
	height: 5vh;
	width: 5vh;
	float: right;
	display: inline;
}	 
		
 @import url('https://fonts.googleapis.com/css?family=Ubuntu');

.header {
  padding: 15px 0 15px 0;
  text-align: center;
  background: linear-gradient(to      bottom,#1e5799,#326B9B);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  position: relative;
  padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	font-family: 'Alfa Slab One';
}
.header>h1{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,.6);
}
 
/* 
^^ HEADERS 
*/		
		

.TRADE_SECTION {
	margin-top: 65px;
}	
	


input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 0; /* iOS */
	margin-bottom: 30px;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}








	
		 
		 @media screen and (max-width: 600px) {
			 
			  #BUY_SECTION {
				 margin-top: 50px;
			 }
			 
			 #SELL_SECTION {
				 margin-top: 40px;
			 }
			 
			 
			 	.header>h1 {
			font-size: 1.2em;
		}
	
			 
			 .slider {
				 width: 100%;
				 margin-bottom: 30px;
			 }
			 button {
				 width: 60%;
				 margin: auto;
				 margin-bottom: 80px;
			 }
}