body {
	    background-color: rgba(0,0,0,.07);
  }

.app {
 font-size: 1.3em;
 margin-top: 35px;
}
	
 #links a {
	  float: right;
	  display: inline;
  }


.fa-trophy {
	color: gold;
}

#lab_social_icon_footer {
	min-height: 60px;
	font-size: 2em;
	color: black;
}

#lab_social_icon_footer .linkk {
	margin: 12px;
	color: black;
}

#lab_social_icon_footer .fa-facebook-square:hover {
  color: #3B5998;
}

#lab_social_icon_footer .fa-twitter:hover {
  color: #4099FF;
}

#lab_social_icon_footer .fa-envelope-square:hover {
  color: #d34836;
}

#lab_social_icon_footer .fa-linkedin:hover {
  color: red;
}


.header {
  padding: 15px 0 15px 0;
  text-align: center;
  background: linear-gradient(to      bottom,#1e5799,#326B9B);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  position: relative;
  padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	font-family: 'Alfa Slab One';
}
.header>h1{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,.6);
}
 
/* 
^^ HEADERS 
*/
		
		
	

	
@media (max-width: 575.98px) { 
	
			
		.header>h1 {
			font-size: 1.1em;
		}
	
	.app {
		 font-size: 1em;
		 margin-top: 35px;
	}
	 
	#lab_social_icon_footer {
		min-height: 60px;
		font-size: 1.5em;
	}
			
		
}
