body {
	    background-color: rgba(0,0,0,.07);
  }

  #Info {
	   position: -webkit-sticky;
		position: sticky;
		top: 0;
		margin-top: 10px;
		padding-top: 20px;
		padding-bottom: 5px;
		z-index: 99;
		background-color: #eeeeee;
		transition: all 0.2s linear;
  }
  
 #links a {
	  float: right;
	  display: inline;
  }
  
.card-header {
	font-size: 1.6em;
 }

.card{
	border: 2px solid #326B9B;
 }

#cash {
   color: green;
}
.card p {
    font-weight: bold;
 }


.app {
	margin-top: 50px; 
}

#Search {
			margin-top: 10px;
		}

.fa-search:hover {
	cursor: pointer;
}


.header {
  padding: 15px 0 15px 0;
  text-align: center;
  background: linear-gradient(to      bottom,#1e5799,#326B9B);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  position: relative;
  padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	font-family: 'Alfa Slab One';
}
.header>h1{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,.6);
}
 
/* 
^^ HEADERS 
*/
		
.app {
	margin-top: 35px;
}
		
	
	.fa-star{
		color: #326B9B;
		font-size: .9em;
	}	


.isOut {
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}
		
		
@media (max-width: 575.98px) { 
		
		.header>h1 {
			font-size: 1.2em;
		}
		
		#Info {
			padding-top: 10px;
			font-size: .8em;
			text-align: center;
			float:clear;
		}
		
		#Search {
			margin-top: 20px;
		}

		.app {
			margin-top: 30px; 
		}	


		.card-deck {
			margin: -17px;
		}
		
		.hideMobile {
			display: none;
		}
		
		.card{
			margin-left: 14px;
			margin-right: 14px;
			border: 1px solid #326B9B;
		 }
 }