body {
	    background-color: rgba(0,0,0,.07);
  }

  #Info {
	   position: -webkit-sticky;
		position: sticky;
		top: 0;
		padding-top: 20px;
		padding-bottom: 5px;
		z-index: 99;
		background-color: #eeeeee;
  }
  
 #links a {
	  float: right;
	  display: inline;
  }
  
.card-header {
	font-size: 1.6em;
 }

#cash {
   color: green;
}
.card p {
    font-weight: bold;
 }


.header {
	min-height: 130px;
	padding: 30px;
	width: 100%;
	font-family: 'Alfa Slab One';
}

.app {
	margin-top: 50px; 
}

#Search {
			margin-top: 10px;
		}


@media (max-width: 575.98px) { 
		#Info {
			padding-top: 10px;
			font-size: .8em;
			text-align: center;
			float:clear;
		}
		
		#Search {
			margin-top: 20px;
		}

		.app {
			margin-top: 10px; 
		}		
 }