.card {
	margin-bottom: 20px;
	font-size: 1.4em;
	min-height: 260px;
}

.card-footer {
	font-size: .7em;
}
.header {
	min-height: 130px;
	padding: 30px;
	width: 100%;
	font-family: 'Alfa Slab One';
}

.app {
	margin-top: 30px;
}


@media (max-width: 575.98px) { 
.card {
	margin-bottom: 15px;
	font-size: 1em;
	min-height: 50px;
}

}