.card h3, .card h2 {
	font-size: 1.3em;
}

.fa-folder-open {
	color: #f1d592
}

.fa-cog {
	color: grey;
}

.fa-tachometer-alt {
	color: lightblue;
}



#Networth, #Leader, #TotalMoney, td:nth-child(3), td:nth-child(4), .fa-money-bill-alt{
	color: green;
}

.card {
	margin-bottom: 20px;
	font-size: 1.2em;
	min-height: 280px;
}

.card-footer {
	font-size: .7em;
}
.header {
	min-height: 130px;
	padding: 30px;
	width: 100%;
	font-family: 'Alfa Slab One';
}

.app {
	margin-top: 30px;
}



.logo {
	height: 3vh;
	width: 3vh;
	display: inline;
}

/* FOR LOGO IN TABLE */
td:nth-child(1) {  
  text-align: left;
}


@media (max-width: 575.98px) { 
	.card {
		margin-bottom: 15px;
		font-size: 1em;
		min-height: 50px;
	}
	.card-body h3, .card-body h5 {
		font-size: 1.2em;
	}

	
}